.background1 {
  background-position: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../Image/Cloudy.png");
}
.Rain {
  background-image: url("../../Image/Rain.png");
}

.Clear {
  background-image: url("../../Image/Summer.png");
}

.Clouds {
  background-image: url("../../Image/Cloudy.png");
}
.mist {
  background-image: url("https://images.unsplash.com/photo-1495294926616-f282c4219dfc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1082&q=80");
}
.weatherPanel {
  width: 50%;
  height: 70%;
  background: linear-gradient(
    110.04deg,
    rgba(255, 255, 255, 0.25) 0%,
    rgba(255, 255, 255, 0.14) 100%
  );
  backdrop-filter: blur(5px);
  border-radius: 12px;
}

.weatherPanel {
  padding: 2% 4%;
}

.weatherPanel .weatherHeader img {
  width: 80%;
  height: 80%;
}
.weatherHeader {
  display: flex;
  align-items: center;
  margin: 3% 0px;
  justify-content: space-between;
}
.weatherHeader h1 {
  font-size: 24px;
  color: #dddddd;
  font-weight: 400;
}
.weatherBody {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60%;
  flex-direction: column;
}
.weather {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.temperature {
  display: flex;
  align-items: center;
}
.input {
  display: flex;
  justify-content: space-between;
  width: 40%;
  align-items: center;
  border: 2px solid #dddddd;
  box-sizing: border-box;
  border-radius: 6px;
  padding: 6px 10px;
}

.input input {
  background: transparent;
  font-size: 16px;
  width: 93%;
  color: #ffffff;
}

.input input::placeholder {
  color: #dddddd;
}

.weatherBody h1 {
  color: #dddddd;
  font-weight: 400;
}
.weatherBody.temperature {
  display: flex;
  align-items: center;
}
.temperature h1 {
  font-size: 110px;
  color: #ffffff;
}

.weatherDetails {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  width: 100%;
}
.back-button {
  margin: 10px 0px;
}
.back {
  height: 0;
  width: 0;
}
.weatherDetails p {
  margin-right: 10px;
}
.weatherDetails img {
  margin-right: 10px;
}
.null {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 40vh;
}
.null .input {
  margin-bottom: 23px;
}
.null h1 {
  font-size: 16px;
  color: #75eeff;
  font-weight: 500;
}
@media All and (max-width: 600px) {
  .weatherPanel {
    height: 100vh;
    width: 100vw;
    padding: 2%;
  }

  .back {
    width: 50px;
    margin: 0;
    outline: none;
    border: none;
    height: 50px;
    background: linear-gradient(
      127.59deg,
      rgba(255, 255, 255, 0.5) -1.81%,
      rgba(255, 255, 255, 0.3) -1.8%,
      rgba(255, 255, 255, 0.2) 105.06%
    );
    border-radius: 50%;
    backdrop-filter: blur(50px);
  }
  .input {
    width: 100%;
  }
  .weatherHeader {
    margin: 10% 0;
  }
}
