.design > div {
  background: linear-gradient(
    116.82deg,
    rgba(255, 255, 255, 0.6) 0%,
    rgba(255, 255, 255, 0.404) 100%
  );
  filter: blur(20px);
  backdrop-filter: blur(94px);
  border-radius: 50%;
}

.circle1 {
  position: absolute;
  width: 125px;
  height: 125px;
  left: 893px;
  top: 199px;
}

.circle2 {
  position: absolute;
  width: 252px;
  height: 252px;
  left: 534px;
  background: linear-gradient(
    116.82deg,
    #ffffff 0%,
    rgba(255, 255, 255, 0.18) 100%
  ) !important;
  top: 658px;
  opacity: 0.6;
}

.circle3 {
  position: absolute;
  width: 350px;
  height: 350px;
  left: -174px;
  top: -138px;
}

.circle5 {
  position: absolute;
  width: 236px;
  height: 236px;
  left: 1134px;
  top: 27px;
}

@media All and (max-width: 1366px) {
  .circle5 {
    display: none;
  }
  .circle2 {
    display: none;
  }
  .circle6 {
    display: none;
  }
  .circle1 {
    left: 148px;
    top: 90px;
  }
  .circle3 {
    width: 102px;
    height: 102px;
  }
}
